body {
    padding-top: 60px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

video {
    max-width: 100%;
}

.foo { overflow: hidden; }

@-ms-viewport{width:auto!important}}
