<!DOCTYPE html>
<html>
  <head>
    <title>bliss</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobileoptimized" content="0" />    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/darkstrap-v0.9.0.css') }}" rel="stylesheet" media="screen">    
    <link href="{{ url_for('static', filename='css/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/acornmediaplayer.base.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/themes/access/acorn.access.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/themes/darkglass/acorn.darkglass.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bliss.css') }}" rel="stylesheet" media="screen">
    <script>
      function failed(e) {
      // video playback failed - show a message saying why
      switch (e.target.error.code) {
      case e.target.error.MEDIA_ERR_ABORTED:
      alert('You aborted the video playback.');
      break;
      case e.target.error.MEDIA_ERR_NETWORK:
      alert('A network error caused the video download to fail part-way.');
      break;
      case e.target.error.MEDIA_ERR_DECODE:
      alert('The video playback was aborted due to a corruption problem or because the video used features your browser did not support.');
      break;
      case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
      alert('The video could not be loaded, either because the server or network failed or because the format is not supported.');
      break;
      default:
      alert('An unknown error occurred.');
      break;
      }
      }
    </script>
    <style type="text/css">
      body {
      padding-top: 0;
      }
    </style>
  </head>
  <body>
    <video id="video" preload="none" tabindex="0" onerror="failed(event)" data-duration="{{ duration }}">
      <source src="/video/{{ type|urlencode }}/{{ id|urlencode }}/webm?seek=0" type='video/webm; codecs="vp8.0, vorbis"' />
      <source src="/video/{{ type|urlencode }}/{{ id|urlencode }}/mp4?seek=0" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"' />
      Your browser sucks, go away.
    </video>
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.1.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.acornmediaplayer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bliss.js') }}"></script>
  </body>
</html>
